* {
    box-sizing: border-box;  
    border: black 1px solid; 
}

header {    
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white;
    background-color: tomato;
}

h1 {        
    text-align: center;
}

.state {
    color: lightcoral;
}