* {
    box-sizing: border-box;  
    font-family: 'Ubuntu', sans-serif; 
}

/* ----- CONTAINER STYLES ------ */
body {
    font-size: 1.1em;
}
header {    
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white;
    background-color: tomato;
}
.control {
    margin: 0 auto;
    width: 95%;
}
.container {  
    margin-top: 6px;
    padding-top: 16px;
    border-top: solid black 2px;
}
.intro {
    text-align: center;
    border-bottom: solid black 3px;
}

form { 
    background-color: rgb(248, 245, 245);
    border-radius: 8px;
}

fieldset {
    border: none;
}

footer {
    color: slategrey;
    text-align: center;
    margin: 16px 0;
}
/* --------------------------- */
/* ------- ELEMENT STYLES ---- */
h1 {        
    text-align: center;
}
legend {
    font-size: 1.4em;
 }
input,
select {
    margin: 12px 0 14px;  
}
select,
input[type="text"],
input[type="email"],
input[type="number"] {
    display:block;
}

fieldset:nth-of-type(1) {
    border-bottom: black solid 2px;
    padding-bottom: 24px;
}

fieldset:nth-of-type(2) {
    margin-top: 12px;
}

input,
textarea,
select {   
    border-radius: 8px;
    background-color: rgb(226, 228, 229);
}

input[type="text"], 
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
}
input[id="zip_code"] {
    height: 30px;
    width: 140px;
}
span {
    display: block;
    margin: 12px 0 6px;
}
textarea {
    width: 100%;
    height: 100px;
}
button {
    color: white;
    background-color: tomato;
    border-radius: 8px;
    width: 100%;
    height: 65px;
    margin-top: 16px;
    transition: .4s;
}
/* ------------------------------ */
/* ------- PSEUDO STYLES -------- */
::placeholder {
    padding-right: 2px;
    font-style: italic;
    text-align: right;
}
input:focus,
select:focus,
textarea:focus {
    border: solid tomato 2px;
}
button:hover {
    color: black;
}
/* ------------------------------ */
@media (min-width: 768px) {
.container {
    width: 80%;
    max-width: 950px;
}
input[type="text"], 
input[type="number"],
input[type="email"],
select {
    width: 65%;
    max-width: 600px;
}

input[id="zip_code"] {
    height: 65px;
    width: 180px;
}
.flex-pair {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zippy {
    justify-content: flex-start;
}
#zip_name {
    flex-basis: 35%;
}

}